progetto_data_scienze/data_base/
.venv
el_ing_sw
progetto_data_scienze/codice/final_json.json
progetto_data_scienze/codice/final_json_test.json
progetto_data_scienze/codice/final.csv
final_json.json
progetto_data_scienze/codice/scryfall-artwork-cards.json
progetto_data_scienze/codice/AllPrices.json
progetto_data_scienze/codice/AllCards.json
progetto_data_scienze/codice/EDA_data/scryfall-artwork-cards.json
progetto_data_scienze/codice/EDA_data/AllCards.json
progetto_data_scienze/codice/EDA_data/AllPrices.json
progetto_data_scienze/codice/Data_Cleaning/scryfall-artwork-cards.json
progetto_data_scienze/codice/Data_Cleaning/AllCards.json
progetto_data_scienze/codice/Data_Cleaning/AllPrices.json